<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :fullname %>
  <%= f.text_field :fullname, class: 'form-control' %>

  <%= f.label :username %>
  <%= f.text_field :username, class: 'form-control' %>

  <%= f.label :city_id %>
  <%= f.collection_select :city_id, City.all, :id, :name, {prompt: "Select a city"}, {class: "form-control"} %>

  <%= f.label :email %>
  <%= f.email_field :email, class: 'form-control' %>

  <% if @user.new_record? %>
      <div class="radio_button_input">
        <%= f.label :employer, "You're registered to become a..." %><br />
        <%= f.label :employer, "Employer", :value => "true"  %>
        <%= f.radio_button :employer, true %>
        <%= f.label :employer, "Freelancer", :value => "false" %>
        <%= f.radio_button :employer, false %>
      </div>
  <% end %>

  <%= f.label :password %>
  <%= f.password_field :password, class: 'form-control' %>

  <%= f.label :password_confirmation, "Confirmation" %>
  <%= f.password_field :password_confirmation, class: 'form-control' %>

  <span class="user_picture_upload">
    <%= f.file_field :profile_picture, accept: 'image/jpeg,image/gif,image/png' %>
  </span>

  <span>Professionals</span>
  <% for category in Category.all %>
    <div class="checkbox_tag_input">
      <%= check_box_tag "user[category_ids][]", category.id, @user.categories.include?(category),
                        {:id => dom_id(category, dom_id(@user)) } %>
      <%= category.name %>
    </div>
  <% end %>

  <%= f.submit "Save changes", class: "btn btn-primary" %>
<% end %>


<script type="text/javascript">
    $('#user_profile_picture').bind('change', function() {
        var size_in_megabytes = this.files[0].size/1024/1024;
        if (size_in_megabytes > 5) {
            alert('Maximum file size is 5MB. Please choose a smaller file.');
        }
    });
</script>