<%= provide(:title, @user.fullname) %>
<div class="row">
  <div class="col-md-3">
    <p>
      <div class="float-left">
        <%= @user.fullname %>
      </div>
      <div class="float-right">

        <%= link_to edit_user_path(@user) do %>
          <i class="glyphicon glyphicon-pencil"></i>
        <% end %>

      </div>
    </p>
    <p><%= @user.username %></p>
    <p><%= @user.email %></p>
    <% if @user.city %>
      <p><%= @user.city.name %></p>
    <% end %>
    <hr>
    Professionals
    <ul>
      <% @user.categories.each do |categ| %>
      <li>
        <%= categ.name %>
      </li>
      <% end %>
    </ul>
    <hr/>

  </div>
  <div class="col-md-9">
    <p>Some features or histories would be shown here.</p>
  </div>
</div>